{% extends "base.html" %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
<link rel="stylesheet" href="{% static 'css/invoice.css' %}">
{% endblock %}

{% block content %}
<div class="row col-12 no-gutters manage-menu-bar mb-2">
    <ul class="manage-menu">
        <li class="col-3 text-center"><a href="{% url 'manage' %}">Orders</a></li>
        <li class="col-3 text-center active"><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li class="col-3 text-center"><a href="{% url 'manage_invoices' %}">Manage Invoices</a></li>
        <li class="col-3 text-center">
            <a href="{% url 'enquiries' %}">Enquiries</a>
            {% if enquiries|filter_unread|length > 0 %}
                <span class="badge badge-danger badge-notification">{{ enquiries|filter_unread|length }}</span>
            {% endif %}
        </li>
    </ul>
</div>
<div class="container">
    <h2>Create Invoice</h2>
    <form id="add-products">
        <div class="form-group row">
            <div class="col-5">
                <label for="product">Product:</label>
                <select name="product" id="product" class="form-control">
                    <option value="">Select a product</option>
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-5">
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" class="form-control" min="1" value="1">
            </div>
            <div class="col-2 no-pad align-self-end">
                <button type="button" class="btn btn-primary add-btn" id="add-product">+</button>
            </div>
        </div>
    </form>

    <form method="post" action="{% url 'create_invoice' %}" id="invoice-products">
        {% csrf_token %}
        <table id="added-products-table" class="invoice-table">
            <tbody id="added-products"></tbody>
        </table>
        <div id="invoice-detail" class="invoice-info d-none">
            <input type="text" name="business_name" placeholder="Business Name" required><br>
            <input type="text" name="address_line1" placeholder="Address Line 1" required><br>
            <input type="text" name="address_line2" placeholder="Address Line 2"><br>
            <input type="text" name="address_line3" placeholder="Address Line 3"><br>
            <input type="text" name="postcode" placeholder="Postcode" required><br>
            <input type="date" name="invoice_date" placeholder="Invoice Date" required><br>
            <textarea name="order_detail" placeholder="Order Detail" required></textarea><br>
        </div>
        <button type="submit" class="btn btn-success invoice-btn mt-3">Download Invoice</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/createInvoice.js' %}"></script>
{% endblock %}
