{% extends "base.html" %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

<div class="row col-12 no-gutters manage-menu-bar mb-2">
    <ul class="manage-menu">
        <li class="col-4 text-center"><a href="{% url 'manage' %}">Orders</a></li>
        <li class="col-4 text-center"><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li class="col-4 text-center active">
            <a href="{% url 'enquiries' %}">Enquiries</a>
            {% if enquiries|filter_unread|length > 0 %}
                <span class="badge badge-danger badge-notification">{{ enquiries|filter_unread|length }}</span>
            {% endif %}
        </li>
    </ul>
</div>
{% if enquiries %}
<div class="row no-gutters enquiries-container">
    <div class="col-12 col-md-6 mb-5">
        <section>
            <h4 class="text-center title-txt">Unread</h4>
            {% for enquiry in enquiries %}
                {% if enquiry|unread %}
                    <div class="enquiry-card text-center">
                        <div class="card">
                            <div class="card-header">
                                <a href="{% url 'enquiry' enquiry.id %}"><h5 class="mb-0">{{ enquiry.name }} - {{ enquiry.email }}</h5></a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-center main-txt">No enquiries to display....</p>
                {% endif %}
            {% endfor %}
        </section>
    </div>
    <div class="col-12 col-md-6 mb-5">
        <section>
            <h4 class="text-center title-txt">Viewed</h4>
            {% for enquiry in enquiries %}
                {% if enquiry|viewed %}
                    <div class="enquiry-card text-center">
                        <div class="card">
                            <div class="card-header">
                                <a href="{% url 'enquiry' enquiry.id %}"><h5 class="mb-0">{{ enquiry.name }} - {{ enquiry.email }}</h5></a>
                                <a href="{% url 'delete_enquiry' enquiry.id %}"><p>Delete</p></a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-center main-txt">No enquiries to display....</p>
                {% endif %}
            {% endfor %}
        </section>
    </div>
</div>
{% else %}
    <p class="text-center mt-5 main-txt no-enquiries">No enquiries to display....</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/enquiries.js' %}"></script>
{% endblock %}