{% extends "base.html" %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/enquiry.css' %}">
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

<div class="row col-12 no-gutters manage-menu-bar mb-2">
    <ul class="manage-menu">
        <li class="col-4 text-center"><a href="{% url 'manage' %}">Orders</a></li>
        <li class="col-4 text-center"><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li class="col-4 text-center active">
            <a href="{% url 'enquiries' %}">Enquiries</a>
            {% if enquiries|filter_unread|length > 0 %}
                <span class="badge badge-danger badge-notification">{{ enquiries|filter_unread|length }}</span>
            {% endif %}
        </li>
    </ul>
</div>
<div class="row no-gutters enquiry-container">
    <div class="col-12">
        <section class="enquiry-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="enquiry-info">
                            <h3 class="section-title">Enquiry Details</h3>
                            <ul class="list-unstyled">
                                <li><strong>Date:</strong> {{ enquiry.date_created|date:"F d, Y" }}</li>
                                <li><strong>Name:</strong> {{ enquiry.name }}</li>
                                <li><strong>Email:</strong> {{ enquiry.email }}</li>
                                <li><strong>Phone Number:</strong> {{ enquiry.phone_number }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="enquiry-message">
                            <div class="mb-2">
                                <span><strong>Subject: </strong></span><span>{{ enquiry.subject }}</span>
                            </div>
                            <span><strong>Message: </strong></span>
                            <div class="enquiry-text-box text-center">
                                </span><p>{{ enquiry.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}