{% extends "base.html" %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

<div class="row col-12 no-gutters">
    <ul class="manage-menu">
        <li><a href="{% url 'manage' %}">Orders</a></li>
        <li><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li>
            {% if enquiries|filter_unread|length > 0 %}
            <span>{{ enquiries|filter_unread|length }}</span>
            {% endif %}
            <a href="{% url 'enquiries' %}">Enquiries</a>
        </li>
    </ul>
</div>
<div class="row no-gutters">
    <div class="col-12 mb-5">
        <h3 class="text-center">Enquiry - </h3>
        <section>
            {{ enquiry.viewed }}
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/manage.js' %}"></script>
{% endblock %}