{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

    <div class="row col-12 no-gutters">
        <li class="manage-menu">
            <a href="{% url 'manage' %}"><ul>Orders</ul></a>
            <ul>Create Invoice</ul>
            <a href="{% url 'enquiries' %}"><ul>Enquiries</ul></a>
        </li>
    </div>
    <div class="row no-gutters">
        <div class="col-12 mb-5">
            <h3 class="text-center">Enquiries</h3>
            <section>
                {% if enquiry in enquiries %}
                {% for enquiry in enquiries %}
                <div class="enquiry-card text-center">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapseCard{{ forloop.counter }}">
                            <h5 class="mb-0">{{ enquiry.name }} - {{ enquiry.email }}</h5>
                        </div>
                        <div id="collapseCard{{ forloop.counter }}" class="collapse">
                            <div class="card-body">
                                <p>{{ enquiry.message }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="arrow-box text-center">
                        <span class="toggle-arrow" data-toggle="collapse" data-target="#collapseCard{{ forloop.counter }}">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No enquiries to display....</p>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/manage.js' %}"></script>
{% endblock %}