{% extends "base.html" %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/enquiry.css' %}">
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

<div class="row col-12 no-gutters manage-menu-bar mb-2">
    <ul class="manage-menu">
        <li class="col-4 text-center"><a href="{% url 'manage' %}">Orders</a></li>
        <li class="col-4 text-center"><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li class="col-4 text-center active">
            <a href="{% url 'enquiries' %}">Enquiries</a>
            {% if enquiries|filter_unread|length > 0 %}
                <span class="badge badge-danger badge-notification">{{ enquiries|filter_unread|length }}</span>
            {% endif %}
        </li>
    </ul>
</div>
<h3 class="section-title title-txt text-center">Enquiry Details</h3>
<div class="row no-gutters enquiry-container">
    <div class="col-12">
        <section class="enquiry-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="enquiry-info">
                            <ul class="list-unstyled">
                                <li><span class="title-txt"><strong>Date:</strong></span> {{ enquiry.date_created|date:"F d, Y" }}</li>
                                <li> <span class="title-txt"><strong>Name:</strong></span> {{ enquiry.name }}</li>
                                <li> <span class="title-txt"><strong>Email:</strong></span> {{ enquiry.email }}</li>
                                <li> <span class="title-txt"><strong>Phone Number:</strong></span> {{ enquiry.phone_number }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="enquiry-message">
                            <div class="mb-2">
                                <span class="title-txt"><strong>Subject: </strong></span><span class="main-txt">{{ enquiry.subject }}</span>
                            </div>
                            <span class="title-txt"><strong>Message: </strong></span>
                            <div class="enquiry-text-box">
                                </span><p class="main-txt">{{ enquiry.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}