{% extends 'base.html' %}
{% load static %}
{% load viewed %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manage_invoices.css' %}">
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}

<div class="row col-12 no-gutters manage-menu-bar mb-2">
    <ul class="manage-menu">
        <li class="col-3 text-center"><a href="{% url 'manage' %}">Orders</a></li>
        <li class="col-3 text-center"><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
        <li class="col-3 text-center active"><a href="{% url 'manage_invoices' %}">Invoices</a>
            {% if due_invoices_count > 0 %}
                <span class="badge badge-danger badge-notification">{{ due_invoices_count }}</span>
            {% endif %}
        </li>
        <li class="col-3 text-center">
            <a href="{% url 'enquiries' %}">Enquiries</a>
            {% if enquiries|filter_unread > 0 %}
                <span class="badge badge-danger badge-notification">{{ enquiries|filter_unread }}</span>
            {% endif %}
        </li>
    </ul>
</div>

<h2>Manage Invoices</h2>

<form method="GET" action="{% url 'filter_invoices' %}" class="filter-form mb-2">
    {% csrf_token %}
    <select name="status" class="filter-select">
        <option value="" selected>Due</option>
        <option value="all" {% if request.GET.status == "all" %}selected{% endif %}>All Invoices</option>
        <option value="paid" {% if request.GET.status == "paid" %}selected{% endif %}>Paid</option>
        <option value="unpaid" {% if request.GET.status == "unpaid" %}selected{% endif %}>Unpaid</option>
    </select>
    <button type="submit">Filter</button>
</form>

{% if request.GET.status == "due" and not invoices %}
<p class="main-txt text-center">No unpaid invoices currently due...</p>
{% elif request.GET.status == "paid" and not invoices %}
<p class="main-txt text-center">No paid invoices to show...</p>
{% elif not invoices %}
<p class="main-txt text-center">No invoices to show...</p>
{% endif %}

{% if invoices %}
<table class="text-center">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Date</th>
            <th>Sent Date</th>
            <th>Total</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
        <tr>
            <td data-label="Reference">{{ invoice.invoice_reference }}</td>
            <td data-label="Date">{{ invoice.invoice_date }}</td>
            <td data-label="Sent Date">{{ invoice.invoice_sent_date }}</td>
            <td data-label="Total">{{ invoice.invoice_total }}</td>
            <td data-label="Paid">
                {% if invoice.invoice_paid %}
                <i class="fas fa-check-circle"></i>
                {% else %}
                <a href="{% url 'mark_invoice_paid' invoice.invoice_reference %}" class="mark-paid-link"><i class="fas fa-times-circle"></i></a>
                {% endif %}
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to mark this invoice as paid?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" id="confirmPaymentBtn" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var confirmPaymentBtn = document.getElementById("confirmPaymentBtn");
    var invoiceRef;

    $('.mark-paid-link').on('click', function(event) {
        event.preventDefault();

        invoiceRef = $(this).attr('href');

        $('#confirmPaymentBtn').attr('href', invoiceRef);

        $('#confirmationModal').modal('show');
    });

    $('#confirmationModal').on('hidden.bs.modal', function () {
        invoiceRef = null;
    });
});
    </script>
{% endblock %}