<div class="order-card mb-2">
    <div class="row status-bar">
        <div class="col text-center 
        {% if order.status == 'ordered' %}
            ordered
        {% elif order.status == 'sent' %}
            sent
        {% elif order.status == 'invoiced' %}
            invoiced
        {% endif %}">
        </div>
    </div>
    <form class="status-form main-txt" method="post">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="row">
            <div class="col-12">
                {% if order.reported_problem and not order.problem_resolved %}
                    <div class="row mt-1">
                        <div class="col ml-2 text-left">
                            <span class="exclamation"><i class="fas fa-exclamation-triangle"></i></span>
                        </div>
                        <div class="col mr-2 text-right">
                            <a href="{% url 'edit_order' order.order_id %}"><span>resolve</span></a>
                        </div>
                    </div>
                {% endif %}
                {% if order.invoiceable and not order.status == 'invoiced' %}
                <div class="row mt-1">
                    <div class="col ml-2 text-left">
                        <a id="deliveryFormTrigger" href="{% url 'add_services' order.order_id %}" data-toggle="modal" data-target="#deliveryModal" data-order-id="{{ order.order_id }}">
                            <span>Delivery</span>
                        </a>
                    </div>
                    <div class="col mr-2 text-right">
                        <a id="editLinkTrigger" href="{% url 'edit_order' order.order_id %}" data-toggle="modal" data-target="#editConfirmationModal" data-has-problem="{% if order.problem_resolved %}false{% else %}true{% endif %}">
                            <span>Edit</span></a>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center delivery-date-time">
                        {{ order.delivery_date }} - {{ order.delivery_time }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row checkboxes text-center">
            <div class="col-4">
                <input id="ordered-{{ order.id }}" name="ordered" type="checkbox" class="custom checkbox" checked disabled>
                <label for="ordered-{{ order.id }}">Ordered</label>
            </div>
            <div class="col-4">
                <input id="sent-{{ order.id }}" name="sent" type="checkbox" class="status-checkbox sent-checkbox" data-order-id="{{ order.id }}" 
                data-delivery-date="{{ order.delivery_date }}" 
                {% if order.status == 'sent' or order.status == 'invoiced' %}
                    checked disabled 
                {% endif %}
                {% if not order.sendable %}
                    disabled
                {% endif %}>
                <label for="sent-{{ order.id }}">Sent</label>
            </div>
            <div class="col-4 invoiced-checkbox">
                <input id="invoiced-{{ order.id }}" name="invoiced" type="checkbox" class="status-checkbox" data-order-id="{{ order.order_id }}"
                {% if order.status == 'invoiced' %}
                    checked disabled 
                {% endif %}
                {% if order.reported_problem and not order.problem_resolved  %}
                    disabled
                {% endif %}
                {% if not order.invoiceable %}
                    disabled
                {% endif %}
                >
                <label for="invoiced-{{ order.id }}">
                    {% if order.status == 'invoiced' %}
                        Invoiced
                    {% else %}
                        Invoice
                    {% endif %}
                </label>
            </div> 
        </div>
    </form>

    <!-- Collapsible Card -->
    <div class="card">
        <div class="card-header text-center" data-toggle="collapse" data-target="#collapseCard2{{ forloop.counter }}" aria-controls="collapseCard2{{ order.id }}" aria-expanded="false">
            <div class="button-content">
                <span class="mb-0">Order - {{ order.order_id }}</span>
                <i class="fa fa-chevron-down mt-1"></i>
            </div>
        </div>
        <div id="collapseCard2{{ forloop.counter }}" class="collapse">
            <div class="card-body order-details">
                <div class="row">
                    <div class="col-12 title-txt text-center">
                        <span class="user">{{ order.user }}</span>
                    </div>
                </div>
                <div class="address main-txt">
                        <strong><div class="col-12 text-left">{{ order.address_line1 }}</div></strong>
                        {% if order.address_line2 %}
                        <strong><div class="col-12 text-left">{{ order.address_line2 }}</div></strong>
                        {% endif %}
                        {% if order.address_line3 %}
                        <strong><div class="col-12 text-left">{{ order.address_line3 }}</div></strong>
                        {% endif %}
                        <strong><div class="col-12 text-left">{{ order.postcode }}</div></strong>
                </div>
                <hr>
                <ul>
                    {% for item in order.order_items.all %}
                    {% if item.quantity > 0 %}
                    <li class="d-flex order-item main-txt text-center">
                        <span class="col-6 no-pad">{{ item.product.name }}</span>
                        <span class="col-2 no-pad">x {{ item.quantity }}</span>
                        <span class="col-4 no-pad">£ {{ item.get_total }}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                    <div class="d-flex order-total">
                        <span class="col-md-2 offset-md-6 col-8 no-pad text-right text-md-center title-txt total-txt"><strong>Total:</strong></span>
                        <span class="col-4 no-pad text-center main-txt total"><strong>£ {{ order.order_total }}</strong></span>
                    </div>
                {% if order.delivery_instructions %}
                <hr>
                <div class="row text-left">
                    <div class="col-12 title-txt del-instructions-title">
                        <span>Delivery Instructions:</span>
                    </div>
                    <div class="col-12 text-left main-txt">
                        <span>{{ order.delivery_instructions }}</span>
                    </div>
                </div>
                {% endif %}
                {% if order.reported_problem  %}
                <hr>
                <div class="row text-left">
                    <div class="col-12">
                        <span class="title-txt problem-title">Reported Problem:</span>
                    </div>
                    <div class="col-12 mb-2 main-txt">
                        <span>{{ order.reported_problem }}</span>
                    </div>
                </div>
                {% endif %}
                {% if order.problem_resolved  %}
                <div class="row text-left">
                    <div class="col-12">
                        <span class="title-txt resolution-title">Resolution:</span>
                    </div>
                    <div class="col-12 mb-2 main-txt">
                        <span>{{ order.resolution_message }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

