{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/enquire.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- First div -->
        <div class="col-lg-6 col-sm-12 bg-primary mb-5">
            <section>
                <p>Some content here about what services we offer and type of products / events can be catered for.</p>
            </section>
        </div>

        <!-- Second div -->
        <div class="col-lg-6 col-sm-12 text-center form-card mb-5">
            <h3 class="mb-2 mt-2" >Enquiry Form</h3>
            <form class="enquire-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}