{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/enquire.css' %}">
{% endblock %}

{% block content %}
<div class="row mt-3 no-gutters">
    <!-- First div -->
    <div class="col-12">
        <section>
            <div class="info-card text-center">
                <div class="what-we-do-container">
                    <div class="slides1">
                <div class="coffee d-block"><img class="coffee-img" src="{% static 'images/coffee1.jpg' %}" alt="what we do image"></div>
                <div class="d-none coffee"><img class="coffee-img" src="{% static 'images/coffee2.jpg' %}" alt="what we do image"></div>
                <div class="d-none coffee"><img class="coffee-img" src="{% static 'images/coffee3.jpg' %}" alt="what we do image"></div>
                    </div>
                    <div class="slides2">
                        <div class="d-block event"><img class="event-img" src="{% static 'images/event1.jpg' %}" alt="what we do image"></div>
                        <div class="d-none event"><img class="event-img" src="{% static 'images/event2.jpg' %}" alt="what we do image"></div>
                        <div class="d-none event"><img class="event-img" src="{% static 'images/event3.jpg' %}" alt="what we do image"></div>
                    </div>
                    <div class="slides3">
                        <div class="d-block food"><img class="food-img" src="{% static 'images/food1.jpg' %}" alt="what we do image"></div>
                        <div class="d-none food"><img class="food-img" src="{% static 'images/food2.jpg' %}" alt="what we do image"></div>
                        <div class="d-none food"><img class="food-img" src="{% static 'images/food3.jpg' %}" alt="what we do image"></div>
                    </div>
                </div>
                <p class="what-we-do-main-text title-txt"><strong>We cater from office lunches to evening events</strong></p>
                <p class="what-we-do-text main-txt">Our ordering system is currently under construction</p>
                <p class="what-we-do-text main-txt">Get in touch to see what we can do for you</p>
            </div>
        </section>
    </div>

    <!-- Second div -->
    <div class="offset-lg-2 col-lg-8 col-sm-12">
        <div class="form-card text-center">
            <h3 class="mb-2 mt-2 enquire-h title-txt">Enquire</h3>
            <form class="enquire-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/enquire.js' %}"></script>
{% endblock %}