{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center orders-title">Orders</h2>
<form method="GET" action="{% url 'filter_my_orders' %}" class="filter-form mb-2">
    {% csrf_token %}
    <select name="status" class="filter-select">
        <option value="" selected>All Orders</option>
        <option value="upcoming" {% if request.GET.status == "upcoming" %}selected{% endif %}>Upcoming Orders</option>
        <option value="past" {% if request.GET.status == "past" %}selected{% endif %}>Past Orders</option>
        <option value="reported" {% if request.GET.status == "reported" %}selected{% endif %}>Reported Orders</option>
    </select>
    <button type="submit">Filter</button>
</form>
<div class="accordion mb-2" id="ordersAccordion">
    {% if orders %}
    {% for order in orders %}
    <div class="card mt-3">
        <div class="card-header" id="order{{ order.id }}">
            <div class="row">
                <span class="col-12 order-info">{{ order.delivery_date }} @ {{ order.delivery_time }}</span>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ order.id }}" aria-expanded="false"
                        aria-controls="collapse{{ order.id }}">   
                        <div class="button-content">
                            <span>Order #:  {{ order.order_id }} |  Total: £ {{ order.order_total }}</span>
                            <i class="fa fa-chevron-down mt-1"></i>
                        </div>
                    </button> 
                </div>
            </div>
            {% if order.problem_resolved %}
                <div class="row text-center">
                    <span class="col-12">{{ order.resolution_message }}</span>
                </div>
                {% endif %}
            <div class="row text-center">
                <div class="col-4 m-auto">
                    {% if order.can_edit %}
                    <a href="{% url 'edit_order' order.order_id %}" class="btn btn-sm btn-success ml-auto">Edit</a>
                    {% else %}
                    <button class="btn btn-sm btn-secondary btn-disabled ml-auto" onclick="showEditModal()">Edit</button>
                    {% endif %}
                </div>
                <div class="col-4 m-auto">
                    {% if order.can_edit %}
                    <button type="button" class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#cancelOrderModal"
                    data-url="{% url 'delete_order' order.order_id %}">
                        Cancel
                    </button>
                    {% else %}
                    <button class="btn btn-sm btn-secondary btn-disabled ml-auto" onclick="showEditModal()">Cancel</button>
                    {% endif %}
                </div>
                <div class="col-4 report-col">
                    {% if order.reported_problem %}
                        <button class="btn btn-sm btn-warning ml-auto" disabled>Reported</button>
                    {% elif order.problem_resolved %}
                        <button class="btn btn-sm btn-success ml-auto" disabled>Resolved</button>
                    {% else %}
                        {% if order.reportable %}
                            <button class="btn btn-sm btn-danger ml-auto" onclick="reportProblem('{{ order.id }}')">Report Issue</button>
                        {% else %}
                            <button class="btn btn-sm btn-secondary btn-disabled ml-auto" disabled>Report</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="collapse{{ order.id }}" class="collapse" aria-labelledby="order{{ order.id }}"
        data-parent="#ordersAccordion">
        <div class="card-body">
            <ul class="list-unstyled">
                {% for item in order.order_items.all %}
                <li class="d-flex order-item mb-1 text-center">
                    <span class="col-6 m-auto no-pad">{{ item.product.name }}</span>
                    <span class="col-2 m-auto no-pad">x {{ item.quantity }}</span>
                    <span class="col-4 m-auto no-pad">£ {{ item.get_total }}</span>
                </li>
                {% endfor %}
                <hr>
                <li class="d-flex text-center">
                    <span class="col-6 no-pad"><strong>Total</strong></span>
                    <span class="col-2 no-pad">-</span>
                    <span class="col-4 no-pad">£ {{ order.order_total }}</span>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ orders.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">Next</a>
            <a href="?page={{ orders.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<p>There are no orders to display..</p>
{% endif %}
</div>

{% include 'users/edit_cancel_modal.html' %}
{% include 'users/cancel_order_check.html' %}
{% include 'users/report_issue_modal.html' %}
<script src="{% static 'js/users.js' %}"></script>
<script>
    var reportProblemUrl = "{% url 'report_problem' %}";
    var csrfToken = "{{ csrf_token }}";
    $('#cancelOrderModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); 
    var url = button.data('url'); 
    var modal = $(this);
    modal.find('#confirmDeleteBtn').attr('href', url);
});
</script>
{% endblock %}