{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center orders-title">Orders</h2>
<form method="GET" action="{% url 'filter_my_orders' %}" class="filter-form mb-2">
    {% csrf_token %}
    <select name="status" class="filter-select">
        <option value="" selected>All Orders</option>
        <option value="upcoming" {% if request.GET.status == "upcoming" %}selected{% endif %}>Upcoming Orders</option>
        <option value="past" {% if request.GET.status == "past" %}selected{% endif %}>Past Orders</option>
        <option value="reported" {% if request.GET.status == "reported" %}selected{% endif %}>Reported Orders</option>
    </select>
    <button type="submit">Filter</button>
</form>
<div class="accordion mb-2" id="ordersAccordion">
    {% if orders %}
    {% for order in orders %}
    <div class="card mt-3">
        <div class="card-header" id="order{{ order.id }}">
            <div class="row">
                <span class="col-12 order-info">{{ order.delivery_date }} @ {{ order.delivery_time }}</span>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ order.id }}" aria-expanded="false"
                        aria-controls="collapse{{ order.id }}">   
                        <div class="button-content">
                            <div class="row">
                                <div class="col-12"><span class="order-id">Order: {{ order.order_id }}</span></div>
                            </div>
                            <i class="fa fa-chevron-down mt-1"></i>
                        </div>
                    </button> 
                </div>
            </div>
                <div class="row text-center">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        {% if order.can_edit %}
                        <a href="{% url 'edit_order' order.order_id %}" class="btn btn-md btn-success" title="Edit">
                            <span class="d-none d-sm-inline">Edit </span>
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        {% else %}
                        <button class="btn btn-md btn-secondary btn-disabled" title="Edit" onclick="showEditModal()">
                            <span class="d-none d-sm-inline">Edit </span>
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        {% if order.can_edit %}
                        <button type="button" class="btn btn-md btn-danger" data-toggle="modal" data-target="#cancelOrderModal"
                        data-url="{% url 'delete_order' order.order_id %}">
                            <span class="d-none d-sm-inline">Cancel </span>
                            <i class="fas fa-times-circle"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-md btn-secondary btn-disabled" title="Cancel" onclick="showEditModal()">
                            <span class="d-none d-sm-inline">Cancel </span>
                            <i class="fas fa-times-circle"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center report-col">
                        {% if order.problem_resolved %}
                        <button class="btn btn-md btn-success" title="Resolved" disabled>
                            <span class="d-none d-sm-inline">Resolved </span>
                            <i class="fas fa-check-circle"></i>
                        </button>
                        {% elif order.problem_order %}
                        <button class="btn btn-md btn-warning" title="Reported" disabled>
                            <span class="d-none d-sm-inline">Reported </span>
                            <i class="fas fa-exclamation-triangle"></i>
                        </button>
                        {% else %}
                        {% if order.reportable %}
                        <button class="btn btn-md btn-danger" title="Report" onclick="reportProblem('{{ order.id }}')">
                            <span class="d-none d-sm-inline">Report </span>
                            <i class="fas fa-flag"></i>
                        </button>
                        {% else %}
                        <button class="btn btn-md btn-secondary btn-disabled" title="Report" disabled>
                            <span class="d-none d-sm-inline">Report </span>
                            <i class="fas fa-flag"></i>
                        </button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>                                 
        </div>
    </div>

    <div id="collapse{{ order.id }}" class="collapse" aria-labelledby="order{{ order.id }}"
        data-parent="#ordersAccordion">
        <div class="card-body">
            <div class="order-address mb-2">
                <div class="col-12 text-left">{{ order.address_line1 }}</div>
                {% if order.address_line2 %}
                <div class="col-12 text-left">{{ order.address_line2 }}</div>
                {% endif %}
                {% if order.address_line3 %}
                <div class="col-12 text-left">{{ order.address_line3 }}</div>
                {% endif %}
                <div class="col-12 text-left">{{ order.postcode }}</div>
            </div>
            <hr>
            <ul class="list-unstyled">
                {% for item in order.order_items.all %}
                <li class="d-flex order-item mb-1 text-center">
                    <span class="col-6 m-auto no-pad">{{ item.product.name }}</span>
                    <span class="col-2 m-auto no-pad">x {{ item.quantity }}</span>
                    <span class="col-4 m-auto no-pad">£ {{ item.get_total }}</span>
                </li>
                {% endfor %}
                <hr>
                <li class="d-flex text-center">
                    <span class="col-6 no-pad"><strong>Total</strong></span>
                    <span class="col-2 no-pad">-</span>
                    <span class="col-4 no-pad">£ {{ order.order_total }}</span>
                </li>
                <hr>
            </ul>
            {% if order.reported_problem %}
            <div class="row text-left">
                <div class="col-12">
                    <span>Reported Problem:</span>
                </div>
            </div>
            <div class="row mb-2 text-center reported_problem">
                <div class="col-12">
                    <span>{{ order.reported_problem }}</span>
                </div>
            </div>
            {% endif %}
            {% if order.resolution_message %}
            <div class="row text-left">
                <div class="col-12">
                    <span>Resolution:</span>
                </div>
            </div>
            <div class="row mb-2 text-center resolution">
                <div class="col-12">
                    <span>{{ order.resolution_message }}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ orders.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">Next</a>
            <a href="?page={{ orders.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<p>There are no orders to display..</p>
{% endif %}
</div>

{% include 'users/edit_cancel_modal.html' %}
{% include 'users/cancel_order_check.html' %}
{% include 'users/report_issue_modal.html' %}
<script src="{% static 'js/users.js' %}"></script>
<script>
    var reportProblemUrl = "{% url 'report_problem' %}";
    var csrfToken = "{{ csrf_token }}";
    $('#cancelOrderModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); 
    var url = button.data('url'); 
    var modal = $(this);
    modal.find('#confirmDeleteBtn').attr('href', url);
});
</script>
{% endblock %}