{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<h2>Orders</h2>
<div class="accordion mb-2" id="ordersAccordion">
    {% if orders %}
    {% for order in orders reversed %}
    <div class="card mb-2">
        <div class="card-header" id="order{{ order.id }}">
            <div class="row">
                <span class="col-12 order-info">{{ order.delivery_date }} @ {{ order.delivery_time }}</span>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ order.id }}" aria-expanded="true"
                        aria-controls="collapse{{ order.id }}">
                        Order #: {{ order.order_id }} | Total: £ {{ order.order_total }}
                    </button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4 m-auto">
                    {% if order.can_edit %}
                    <a href="{% url 'edit_order' order.order_id %}">Edit</a>
                    {% else %}
                    <span onclick="showEditModal()">Edit</span>
                    {% endif %}
                </div>
                <div class="col-4 m-auto">
                    {% if order.can_edit %}
                    <a href="">Cancel</a>
                    {% else %}
                    <span onclick="showEditModal()">Cancel</span>
                    {% endif %}
                </div>
                <div class="col-4">{% if order.reportable and not order.reported_problem %}
                    <button class="btn btn-sm btn-danger ml-auto" onclick="reportProblem('{{ order.id }}')">Report
                        Issue</button>
                    {% else %}
                    <span>report</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="collapse{{ order.id }}" class="collapse" aria-labelledby="order{{ order.id }}"
        data-parent="#ordersAccordion">
        <div class="card-body">
            <ul class="list-unstyled">
                {% for item in order.order_items.all %}
                <li class="d-flex order-item mb-1 text-center">
                    <span class="col-6 m-auto no-pad">{{ item.product.name }}</span>
                    <span class="col-2 m-auto no-pad">x {{ item.quantity }}</span>
                    <span class="col-4 m-auto no-pad">£ {{ item.get_total }}</span>
                </li>
                {% endfor %}
                <hr>
                <li class="d-flex text-center">
                    <span class="col-6 no-pad"><strong>Total</strong></span>
                    <span class="col-2 no-pad">-</span>
                    <span class="col-4 no-pad">£ {{ order.order_total }}</span>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
</div>

{% else %}
<p>There are no orders to display..</p>
{% endif %}
</div>

{% include 'users/edit_cancel_modal.html' %}

{% include 'users/report_issue_modal.html' %}

<script>
    function showEditModal() {
    $('#editCancelModal').modal('show');
    }
    function reportProblem(orderId) {
        // Set the hidden input value to the orderId
        $('#orderIdInput').val(orderId);
        // Show the modal
        $('#reportProblemModal').modal('show');
    }

    function submitProblem() {
        // Get the problem description from the textarea
        var problemDescription = $('#problemDescription').val();
        // Get the orderId from the hidden input
        var orderId = $('#orderIdInput').val();

        // AJAX call to submit the problem
        $.ajax({
            type: 'POST',
            url: '{% url "report_problem" %}', // Update to use the correct URL pattern name
            data: {
                'order_id': orderId,
                'problem_description': problemDescription,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                // Close the modal
                $('#reportProblemModal').modal('hide');
                // Reload page to display Django messages
                location.reload();
            },
            error: function (xhr, errmsg, err) {
                // Handle errors
                alert('Error reporting problem: ' + errmsg);
            }
        });
    }
</script>
{% endblock %}