h1,
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form {
    display: grid;
    justify-content: center;
}

form label {
    display: none;
}

form input[type="checkbox"] {
    display: block;
}

form input[type="checkbox"]+label {
    display: inline-block;
}

.main-container-centered {
    min-height: 100vh;
    background: linear-gradient(135deg, #e2d1c3 0%, #fdfcfb 70%, #e2d1c3 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}

.sign-in, .sign-out {
    background-color: var(--main-green);
    color: var(--off-white);
    box-shadow: -2px 2px var(--green-highlight);
    border: 1px solid var(--off-black);
    border-radius: 3px;
}

.sign-in:hover, .sign-out:hover {
    background-color: var(--green-highlight);
    color: var(--off-white);
    box-shadow: -2px 2px var(--main-green);
    border: 2px solid var(--off-black);
    border-radius: 3px;
}