@import 'root.css';

main {
    width: 100%;
    min-height: calc(100vh - 50px);
    background: linear-gradient(135deg, #e2d1c3 0%, #fdfcfb 70%, #e2d1c3 100%);
    background-size: 200% 200%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 30px;
}

.what-we-do-text {
    margin-bottom: 0;
}

.what-we-do-main-text {
    font-size: 20px;
    text-shadow: -3px 2px #ccc8c8ba;
}

.form-card, .what-we-do {
    width: 95%;
    margin: auto;
}

.msg-input {
    max-width: 95%;
}

section {
    margin-bottom: 20px;
}

.what-we-do-container {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to new line when not enough space */
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.slides1, .slides2, .slides3 {
    flex: 1;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0;
    border: 5px solid var(--off-black);
    border-radius: 2px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0;
}

.slides1 {
    height: 220px;
    max-width: 330px;
    animation: fadeInSlide1 2s forwards;
}
@keyframes fadeInSlide1 {
    50% {
        box-shadow: -2px 2px 6px #00000099;
    }
    100% {
        opacity: 1;
        box-shadow: -4px 4px 6px #00000099;
    }
}

.slides2 {
    max-height: 180px;
    max-width: 330px;
    animation: fadeInSlide2 4s forwards;
}
@keyframes fadeInSlide2 {
    50% {
        opacity: 0;
        box-shadow: -2px 2px 6px #00000099;
    }
    100% {
        opacity: 1;
        box-shadow: -4px 4px 6px #00000099;
    }
}

.slides3 {
    max-height: 250px;
    max-width: 630px;
    animation: fadeInSlide2 6s forwards;
}
@keyframes fadeInSlide3 {
    66.67% {
        opacity: 0;
        box-shadow: -2px 2px 6px #00000099;
    }
    100% {
        opacity: 1;
        box-shadow: -4px 4px 6px #00000099;
    }
}

.coffee, .event, .food {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.coffee-img, .event-img, .food-img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0); 
}

.coffee.d-block, .food.d-block, .event.d-block {
    opacity: 1;
}

.enquire-h {
    letter-spacing: 5px;
    text-shadow: -2px 0px #efefd885;
}

.enquire-form {
    padding: 1rem;
}

.enquire-form p label {
    display: none;
}

.enquire-form p {
    margin-bottom: 1rem;
}

.form-container {
    width: 95%;
}

.form-card {
    background-color: var(--off-black);
    border: 2px solid var(--main-green);
    border-radius: 2px;
    box-shadow: -3px 4px 5px var(--off-black);
    max-width: 640px;
    color: var(--off-white);
}

.form-card h3 {
    text-shadow: -2px 2px var(--main-green);
}

.submit-btn {
    background-color: var(--main-green);
    border: 1px solid var(--off-white);
    border-radius: 2px;
    color: var(--off-white);
    padding: 5px;
    margin: 10px;
    box-shadow: -2px 2px #56a37d;
}

@media (min-width: 449px) {
    .slides1, .slides2, .slides3 {
        flex-basis: calc((100% - 20px) / 3);
    }
    main {
        padding-top: 70px;
    }
}

@media (max-width: 450px) {
    .slides1, .slides2, .slides3 {
        flex-basis: calc(100% - 20px); 
    }
}

@media screen and (min-width: 355px) {
    main {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .slides3 {
        max-width: 330px;
    }
    .what-we-do-container {
        min-height: 674px;
    }
}

@media screen and (min-width: 1069px) {
    .slides3 {
        min-width: 50%;
    }
}