@import 'root.css';

.section-title {
    margin-top: 65px;
}

.enquiry-text-box {
    min-height: 150px;
    min-width: 250px;
    background-color: var(--off-white);
    background-color: var(--off-white);
    border: 2px solid var(--off-black);
    padding: 5px;
}

.title-txt strong {
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: -1px 1px #9e9d9d66;
}

