body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.landscape-hero {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.portrait-container, .landscape-container {
    height: calc(100vh - 50px);
    overflow: hidden;
    position: absolute;
    top: 52px;
}

.portrait-hero {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.find-us-text {
    color: black;
    position: relative;
    top: 72vh;
    left: 28px;
}

.down-arrow {
    width: 40px;
    height: 40px;
    position: relative;
    top: 78vh;
    left: -20px;
}

.hero-content {
    text-align: center;
    height: calc(100vh - 50px);
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content a {
    display: block;
    margin-top: 20px;
}

#address-section {
    background-color: #f4f4f4;
    height: 100vh;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* For smaller screens (mobile) */
@media screen and (max-width: 600px) {
    .landscape-hero {
        display: none; 
    }
    .find-us-text {
        color: white;
    }
}

/* For larger screens (desktop) */
@media screen and (min-width: 601px) {
    .portrait-hero {
        display: none; 
    }
}