body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Set the height of the hero section to the viewport height */
    overflow: hidden; /* Hide any overflow content */
}

.hero-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .landscape-hero {
    min-width: 100%;
    min-height: 100%; 
    max-height: 120%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomAnimation 5s forwards;
}

@keyframes zoomAnimation {
    from {
        max-height: 120%;
    }
    to {
        max-height: 150%;
    }
}

.fade-in-gradient-landscape, .fade-in-gradient-portrait {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 0%);
    animation: fadeOutGradient 4s forwards;
    z-index: 1;
}

@keyframes fadeOutGradient {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.hero .portrait-hero {
    min-width: 100%;
    min-height: 100%; 
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomPortraitAnimation 5s forwards;
}

@keyframes zoomPortraitAnimation {
    from {
        width: 100%;
        height: auto;
    }
    to {
        width: 120%;
        height: auto;
    }
}

.find-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-us-text {
    margin-bottom: -8px;
    font-size: 22px;
    color: white; 
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black; 
}

.find-us-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.find-us-arrow {
    font-size: 55px;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black; 
    color: white;
}

.hero-content {
    text-align: center;
    height: calc(100vh - 50px);
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#address-section {
    background-color: #f4f4f4;
    height: 100vh;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* For smaller screens (mobile) */
@media screen and (max-width: 600px) {
    .landscape-hero {
        display: none; 
    }
    .fade-in-gradient-landscape {
        display: none;
    }
    .find-us-text {
        color: white;
    }
}

/* For larger screens (desktop) */
@media screen and (min-width: 601px) {
    .portrait-hero {
        display: none; 
    }
    .fade-in-gradient-portrait {
        display: none;
    }
}