.order-card {
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

.order-item {
    border-bottom: 1px solid rgba(27, 27, 27, 0.928);
    font-size: 14px;
}

.no-pad {
    padding: 0;
}


.enquiry-card {
    width: 95%;
    margin: auto;
}