@import 'root.css';

.csrf-html {
    position: fixed;
    width: 100%;
}

.manage-menu-bar {
    background-color: var(--off-black);
    box-shadow: 0px 2px 2px 1px grey;
    min-height: 38px;
    height: fit-content;
    position: relative;
    top: 2px;
    padding-left: 0;
    padding-right: 0;
}

.manage-menu {
    display: inline-flex;
    justify-content: space-between;
    width: 95%;
    padding: 0;
    margin: auto;
}

.manage-menu li {
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-notification {
    position: relative;
    top: -8px;
    right: 4px;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.active a {
    text-decoration: underline;
}

.manage-menu li a {
    color: var(--off-white);
}

.ordered {
    background-color: var(--pastel-red);
}

.sent {
    background-color: var(--pastel-yellow);
}

.invoiced {
    background-color: var(--pastel-green);
}


.order-card {
    border: 1px solid black;
    box-shadow: 1px 2px 2px black;
    width: 95%;
    margin: auto;
}

.card-header {
    cursor: pointer;
}

.order-item {
    border-bottom: 1px solid rgba(27, 27, 27, 0.928);
    font-size: 14px;
}

.no-pad {
    padding: 0;
}

.order-details ul {
    padding-left: 0;
}


.enquiry-card {
    border: 1px solid black;
    box-shadow: 1px 2px 2px black;
    width: 95%;
    margin: auto;
}

.checkboxes div {
    display: grid;
}

label {
    margin-bottom: 0;
}

.exclamation {
    display: inline-block;
    width: 25px; 
    height: 25px;
    border: 2px solid black;
    background-color: orangered; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 20px; 
    font-size: 20px; 
}


.filter-select {
    height: 30px;
}

.filter-form{
    width: 95%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .checkboxes div {
        display: flex;
        justify-content: center;
    }
}