.order-container {
    width: 98%;
    height: calc(100vh - 50px);
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin: auto;
}

.order-container form {
    width: 100%;
    margin-top: 25px;
}

.form-titles {
    position: absolute;
    width: 95%;
    display: flex;
}

.form-titles span {
    text-emphasis: bold;
    text-decoration: underline;
}

.order {
    display: block;
}

.details {
    display: none;
}

.qty-input {
    width: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

.next-btn {
    display: block;

}

.prev-btn {
    display: none;
}

.next-btn,
.prev-btn {
    height: 50px;
    align-self: end;
    position: absolute;
    margin-bottom: 5px;
}

table {
    width: 50%;
}

.order-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.order-table th,
.order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.order-table th {
    background-color: #f2f2f2;
}

.order-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.order-table tbody tr:hover {
    background-color: #ddd;
}


.product-card {
    background-color: #cac4c4;
    width: 98%;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px black;
}

.address-inputs {
    display: grid;
    width: 90%;
    margin: auto;
}

.address-inputs input {
    margin-bottom: 5px;
    width: 90%;
    margin: auto;
}

.date-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal-width columns */
    gap: 10px;
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .custom-hr hr {
        display: none;
    }
}