@import 'root.css';

.plain-input {
    border: none;
    background: none;
    outline: none;
    max-width: 100%; 
    width: auto; 
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 50px);
    background: linear-gradient(135deg, #e2d1c3 0%, #fdfcfb 70%, #e2d1c3 100%);
    background-size: cover;
    top: 50px;
    position: relative;
}

.product-cards-container { 
    position: relative; 
  }

.search-and-categories {
    background-color: #444444;;
    align-items: center;
    padding: 5px;
    display: grid;
    justify-content: center;
    box-shadow: 1px 2px 4px 0px black;
}

.order-container {
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: rgba(0, 0, 0, 13%);
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 55px;
    padding-top: 15px;
}

.order-container form {
    width: 100%;
    margin-top: 25px;
}

.product-card {
    background-color: #ccc1b88c;
    width: 95%;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px black;
    border: 3px solid #1b3527;
}

.form-titles {
    position: absolute;
    width: 95%;
    display: flex;
    color: var(--off-black);
}

.form-titles span {
    text-emphasis: bold;
    text-decoration: underline;
}

.order {
    display: block;
}

.details {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.qty-input {
    width: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

.next-btn {
    display: block;

}

.prev-btn {
    display: none;
}

.next-btn {
    height: 50px;
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-green);
    color: var(--off-white);
    border: 1px solid var(--off-black);
}

.next-btn:disabled {
    opacity: 0.5; 
}

.prev-btn {
    height: 50px;
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--off-white);
}

.prev-btn i {
    font-size: x-large;
}

.table {
    width: 90%;
    table-layout: fixed;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: fit-content;
    width: 90%;
    max-width: 560px;
    table-layout: fixed;
    margin: 0 auto;
}

.table-container {
    border: 2px solid var(--off-black);
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.order-table th,
.order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 50%;
}

.order-table th {
    background-color: var(--off-white);
}

.order-table th:nth-child(1),
.order-table td:nth-child(1) {
    width: 40%; 
}

.order-table th:nth-child(2),
.order-table td:nth-child(2) {
    width: 30%; 
}

.order-table th:nth-child(3),
.order-table td:nth-child(3) {
    width: 30%; 
}

.order-table tbody tr:nth-child(even) {
    background-color: var(--off-white);
}
.order-table tbody tr:nth-child(odd) {
    background-color: var(--grey);
}

.order-table tbody tr:hover {
    background-color: var(--light-grey);
}

.total-hr, .totals-txt {
    width: 90%;
    margin: auto;
    max-width: 560px;
}

.address-inputs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.address-inputs input {
    margin-bottom: 5px;
    height: 25px;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.resolution-message {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 5px;
}

.date-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 630px;
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
    position: relative;
    margin-top: 20px;
    background-color: var(--main-green);
    border: 1px solid var(--off-black);
    color: var(--off-white);
}

@media screen and (max-width: 575px) {
    .order-container form {
        margin-top: 10px;
    }
    .product-label {
        position: relative;
        top: 15px;
    }
}

@media screen and (min-width: 576px) {
    .custom-hr hr {
        display: none;
    }
    .category-form {
        display: flex;
        justify-content: end;
    }
    .search-and-categories {
        display: flex;
    }
    .text-center-sm {
        text-align: center !important;
    }
}
