main {
    min-height: calc(100vh - 50px);
}

.card, .card-body {
    width: 90%;
    margin: auto;
}

.card-body {
    background-color: rgb(154, 154, 154);
    position: relative;
    top: -8px;
}

.order-info {
    font-size: small;
}

.no-pad {
    padding: 0;
}

.accordion>.card .card-header {
    margin-bottom: 0;
}

.btn-disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: .65;
}