:root {
    --off-white: #f2f2f2;
    --off-black: #2a2d2f;
    --main-green: #577F6A;
    --green-highlight: #56a37d; 
    --grey: #bcbcbc;
    --orange: #dd8d55bd;
    --light-grey: #ddd;
    --dark-grey: #737373;
    --pastel-red: #FFA7A0;
    --pastel-yellow: #F4D885;
    --pastel-green: #C1E1C1;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url("../fonts/AbrilFatface-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-italic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

