:root {
    --off-white: #f2f2f2;
    --off-black: #2a2d2f;
    --main-green: #577F6A;
    --grey: #bcbcbc;
    --light-grey: #ddd;
    --dark-grey: #737373;
    --pastel-red: #FFA7A0;
    --pastel-yellow: #F4D885;
    --pastel-green: #C1E1C1;
}