{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block page_header %}
        <h3>Home Page</h3>
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <div class="landscape-container">
        <div class="fade-in-gradient-landscape"></div>
        <img class="landscape-hero" src="{% static 'images/landscape_hero.jpg' %}" alt="Arrow Down">
        </div>
            <div class="fade-in-gradient-portrait"></div>
        <img class="portrait-hero" src="{% static 'images/portrait_hero.jpg' %}" alt="Arrow Down">
        <div class="find-us-wrapper-landscape">
            <a class="find-us" href="#address-section">
                <span class="find-us-text">find us</span>
                <i class="fas fa-chevron-down find-us-arrow"></i>
            </a>
        </div>
        <div class="find-us-wrapper-portrait">
            <a class="find-us" href="#address-section">
                <span class="find-us-text">find us</span>
                <i class="fas fa-chevron-down find-us-arrow"></i>
            </a>
        </div>
    </div>
</section>

<section id="address-section" class="address-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-sm-12 mb-5 find-us-col">
                <div class="row justify-content-center">
                    <div class="find-us-container">
                        <div class="col-12 text-left mb-2 title-txt">
                            <strong>FIND US:</strong>
                        </div>
                        <div class="col-12 text-left main-txt">
                            The Leather Market,
                        </div>
                        <div class="col-12 text-left main-txt">
                            Weston St,
                        </div>
                        <div class="col-12 text-left main-txt">
                            London
                        </div>
                        <div class="col-12 text-left main-txt">
                            SE1 3ER
                        </div>
                        <div class="col-12 text-left">
                            <strong class="title-txt">Open:</strong>
                            <p class="main-txt">Mon - Fri, 7:30 - 4:30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-center mb-5">
                <div id="map-container" class="map-container">
                    <iframe width="100%" height="100%" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.09218215942382814%2C51.49628039762045%2C-0.07759094238281251%2C51.50385421079633&amp;layer=mapnik&amp;marker=51.500060782690625%2C-0.08488655090332031" style="border: 1px solid black"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const findUsContainer = document.querySelector('.find-us-container');
    const mapContainer = document.querySelector('.map-container');

    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 1, // Trigger when the entire element is visible
    };

    const observer = new IntersectionObserver(fadeInCallback, observerOptions);

    observer.observe(findUsContainer);
    observer.observe(mapContainer);

    function fadeInCallback(entries, observer) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('fade-in');
                observer.unobserve(entry.target);
            }
        });
    }
});
</script>
{% endblock %}