{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block page_header %}
        <h3>Home Page</h3>
{% endblock %}

{% block content %}
<div class="home-container">
    <div class="row no-gutters">
        <div class="col-lg-6 col-sm-12 text-center mb-5">
            <div class="col-lg-4 text-left mb-2">
                <strong>FIND US:</strong>
            </div>
            <div class="col-12 text-left">
                The Leather Market,
            </div>
            <div class="col-12 text-left">
                Weston St,
            </div>
            <div class="col-12 text-left">
                London
            </div>
            <div class="col-12 text-left">
                SE1 3ER
            </div>
            <div class="col-12 text-left">
                <strong>Open</strong> <p>Mon - Fri, 7:30 - 4:30</p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 text-center mb-5">
            Map of location here
        </div>
    </div>
</div>
{% endblock %}