h1,
p {
    text-align: center;
}

form {
    display: grid;
    justify-content: center;
}

form label {
    display: none;
}

form input[type="checkbox"] {
    display: block;
}

form input[type="checkbox"]+label {
    display: inline-block;
}

.main-container-centered {
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}